{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div id="content" class="col-md-12">

            {% for anecdote in anecdotes %}
                <div class="panel panel-default">
                    {% if anecdote.category is not null %}
                        <div class="panel-heading">{{ anecdote.category.name }}</div>
                    {% endif %}
                    <div class="panel-body">
                        {{ anecdote.description|nl2br }}
                    </div>
                    <div class="panel-footer">{% if anecdote.nickname is not null %}{{ anecdote.nickname }}{% else %}Anonymous{% endif %} le {{ anecdote.created|date("m/d/Y") }}</div>
                </div>
            {% else %}
                Aucune anecdote
            {% endfor %}


        </div>
    </div>

{% endblock %}
